<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head}"></head>

<body>

  <!-- ======= Header ======= -->
  <header th:replace="~{fragmentos :: header}"></header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar" th:replace="~{fragmentos :: sideBar}"></aside><!-- End Sidebar-->

  <section class="section">
    <div class="row" >
      <div class="col-lg-6" style="margin: auto; ">

        <div class="card">
          <div class="card-body" style="padding: 61px 20px 20px 20px">
            <h5 class="card-title">Preenchimento do Atendimento</h5>

            <!-- FORMULARIO DE ATENDIMENTO -->
            <form action="salvarAtendimento" method="POST">
              <div class="alert alert-success" role="alert" 
                th:if="${not #strings.isEmpty(msg)}">
                <span th:text="${msg}"></span>
              </div>
              <div class="alert alert-danger" th:if="${not #strings.isEmpty(error)}">
                  <span th:text="${error}"></span>
              </div>
              <input type="hidden" name="userName" th:value="${#authentication.getPrincipal().getUsername()}">
              <div class="row mb-3">
                <label for="prontuario" class="col-sm-2 col-form-label">Prontuário</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="prontuario" name="prontuario">
                </div>
              </div>
              <div class="row mb-3">
                <label for="rg" class="col-sm-2 col-form-label">Rg</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="rg" name="rg">
                </div>
              </div>
              <div class="row mb-3">
                <label for="nome" class="col-sm-2 col-form-label">Paciente</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nome" name="nome">
                </div>
              </div>
              <div class="row mb-3">
                <label for="dataAtendimento" class="col-sm-2 col-form-label">Data Atendimento</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="dataAtendimento" name="dataAtendimento">
                  
                </div>
              </div>
              <div class="row mb-3">
                <label for="observacao" class="col-sm-2 col-form-label">Observação</label>
                <div class="col-sm-10">
                  <textarea class="form-control" style="height: 100px" id="observacao" name="observacoes"></textarea>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-10">
                  <h4>Status:</h4>
                  <!-- <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">Tratamento</label>
                  </div> -->
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="atendimento" name="status" value="Atendimento" checked>
                    <label class="form-check-label" for="atendimento">Atendimento Normal</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="emergencia" name="status" value="Emergência">
                    <label class="form-check-label" for="emergencia">Emergência</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="falta" name="status" value="Falta">
                    <label class="form-check-label" for="falta">Falta</label>
                  </div>
                </div>
              </div>
              <div>
                <h4>Origem: </h4>
                <div class="form-check">
                  <input class="form-check-input" type="radio" value="Ex-Clínico/Enca.Orto" name="origem" id="Tratamento" checked>
                  <label class="form-check-label" for="Tratamento">
                    Tratamento
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="origem" value="Ex-Clínico/L. Espera" id="Ex-Clínico/L. Espera">
                  <label class="form-check-label" for="Ex-Clínico/L. Espera">
                    Ex-Clínico/L. Espera
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="origem" value="Ex-Clínico/Enca.Orto" id="Ex-Clínico/Enca.Orto" >
                  <label class="form-check-label" for="Ex-Clínico/Enca.Orto">
                    Ex-Clínico/Enca.Orto
                  </label>
                </div>
                <h4>Tratamento Concluido: </h4>
                
              </div>
              <div class="row mb-3">
                <div class="col-sm-10">
                <br>
                  <button type="submit" class="btn btn-primary">Salvar</button>
                  <a th:href="@{/index}" class="btn btn-danger">Cancelar</a>
                </div>
              </div>
            </form>
            <!-- FIM FORMULARIO DE ATENDIMENTO -->
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <main id="main" class="main">

    
</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Caixa Beneficente</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>

</html>